html, body {
    height: 100%;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #007bff;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#uploadButton {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#copyButton {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#copyButton:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

#imagePreview {
    position: relative;
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}

#uploadedImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.polaroid {
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden, .d-none {
    display: none;
}

#hashtags {
    padding: 10px;
    background: white;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px; /* Small margin between image and hashtags */
}